<div class="login form">
  <header>Register</header>
  <form [formGroup]="myForm" (ngSubmit)="register()">
    <input type="text" placeholder="Enter your name" formControlName="name" />

    <input type="text" placeholder="Enter your email" formControlName="email" />
    <input
      type="password"
      placeholder="Enter your password"
      formControlName="password"
    />
    <!-- <a href="#">Forgot password?</a> -->

    <button class="form-btn" [disabled]="myForm.invalid">Create Account</button>
  </form>
  <div class="signup">
    <span class="signup"
      >Already have an account?
      <label routerLink="/authentication/login">Signin</label>
    </span>
  </div>
</div>
