<div class="login form">
  <header>Register</header>
  <form action="#">
    <input type="text" placeholder="Enter your name" />

    <input type="text" placeholder="Enter your email" />
    <input type="password" placeholder="Enter your password" />
    <!-- <a href="#">Forgot password?</a> -->
    <input type="button" class="button" value="Create Account" />
  </form>
  <div class="signup">
    <span class="signup"
      >Already have an account?
      <label>Signin</label>
    </span>
  </div>
</div>
